#header-wrapper
  #header.container
    %h1= link_to "OpenPlanning", root_path

    .hide= link_to "Skip navigation", "#content"
    #menu
      = image_tag "menu.png", size: "30x30", class: "toggle"
      %ul.collapse.hidden
        = li_selected(:controller => "/applications", :action => "address") do
          = link_to 'Search', address_applications_path
        %li
          %a{:href => "#"} Authorities
        %li
          %a{:href => "#"} About

