#header-wrapper
  #header.container
    %h1= link_to "OpenPlanning", root_path

    .hide= link_to "Skip navigation", "#content"
    #menu
      = image_tag "menu.png", size: "30x30", class: "toggle"
      %ul.collapse.hidden
        = li_selected(:controller => "/applications", :action => ["address", "search"]) do
          = link_to 'Search', root_path
        = li_selected(:controller => "/authorities", :action => "index") do
          = link_to 'Authorities', authorities_path
        = li_selected(:controller => "/static", :action => "about") do
          = link_to 'About', about_path

