%p.approved
  %span.status Approved
  %span.visualisation
    %span.bar{:style => "width: #{stats[:percentage_approved]}%"} #{stats[:percentage_approved]}%
%p.refused
  %span.status Refused
  %span.visualisation
    %span.bar{:style => "width: #{stats[:percentage_refused]}%"} #{stats[:percentage_refused]}%
%p.pending
  %span.status
    Pending
  %span.visualisation
    %span.bar{:style => "width: #{stats[:percentage_pending]}%"} #{stats[:percentage_pending]}%
  %span.notes
    (May include withdrawn applications)