#alert
  = semantic_form_for alert do |f|
    = render "alerts/signup_introduction"
    = f.inputs do
      = f.input :address, :label => "Enter a street address", :placeholder => "Enter a street address"
      = f.input :email, :label => "Enter your email address", :placeholder => "Enter your email address"
    = f.actions do
      = f.action :submit, :label => "Create Alert", :button_html => { :class => "button button-rounded button-action button-large" }

- if application.no_alerted || nearby_count != 0
  #application-stats
    - if application.no_alerted
      %p.no_alerted
        - if application.no_alerted == 1
          1 person was
        - else
          #{application.no_alerted} people were
        notified of this application via
        = link_to "email alerts", new_alert_path
    - if nearby_count != 0
      = link_to "Recent nearby applications", nearby_application_url(application, :sort => "time"), :class => "button button-rounded"