%article.application
  = link_to council_reference_application_path({:id => application.id,:authority => application.authority.short_name_encoded,:reference => application.council_reference}.merge!(@return_to_search_params)) do
    %p.reference= application.council_reference
    %h2.address= application.address
    %p.description
      = application.respond_to?(:excerpts) && application.excerpts ? @applications.excerpt_for(html_escape(application.description)).html_safe : application.description
    %dl.metadata
      %dt.status Status:
      %dd{:class => "status #{application.status}"}= application.status_display or 'Unknown status'
      - if application.date_received
        %dt.received Marked valid:
        %dd.received= application.date_received.strftime('%e %b %Y')
      - if application.decision_date
        %dt.decision Decision date:
        %dd.decision= application.decision_date.strftime('%e %b %Y')
