%form#home-search{'accept-charset' => "UTF-8", 'action' => search_applications_path, 'method' => "get"}
  %header
    %h1
      Explore planning applications
      %small across Hampshire and your local&nbsp;area
  - if @search and @search.invalid?
    #errors
      - @search.errors.each do |attr, error|
        %p= error
  %fieldset
    %p#s_input
      = label_tag(:search, "Show applications for")
      = text_field_tag(:search, (params[:search] or "anything"), :placeholder => "conservatories")
    %p#q_input{:class => ("error" if @search and @search.invalid?)}
      = label_tag(:location, "Near")
      = text_field_tag(:location, params[:location], placeholder: "postcode")
    %p.submit
      %button.button.button-rounded.button-large.button-action{:type => "submit"}
        %i.fa.fa-search
        Search
