= form_tag(search_applications_path, :method => :post) do |f|
  = label_tag(:search, "Showing applications for:")
  = text_field_tag(:search, (params[:search] or "anything"), :placeholder => "e.g. Conservatories")
  = label_tag(:location, "Located around:")
  = text_field_tag(:location, (params[:address] or params[:postcode]), placeholder: "e.g. SO23 8UJ or Romsey Rd, Winchester")
  - if @error
    %p.inline-errors= @error
  = submit_tag "Search", :name => nil, :class => "button button-rounded button-large button-action"