%form.address-search.formtastic{'accept-charset' => "UTF-8", 'action' => search_applications_path, 'method' => "get"}
  %fieldset.inputs
    %ol
      %li#s_input.string
        = label_tag(:search, "Showing applications for:")
        = text_field_tag(:search, (params[:search] or "anything"), :placeholder => "e.g. Conservatories")
      %li#q_input.string{:class => ("error" if @search.invalid?)}
        = label_tag(:location, "Located around:")
        = text_field_tag(:location, params[:location], placeholder: "e.g. SO23 8UJ or Romsey Rd, Winchester")
        - if @search.invalid?
          - @search.errors.each do |attr, error|
            %p.inline-errors= error
      = hidden_field_tag(:results, true)
      - unless @display.blank?
        = hidden_field_tag(:display, @display)
  %fieldset.actions
    %ol
      %li.submit= submit_tag "Search", :name => nil, :class => "button button-rounded button-large button-action"
