- content_for :page_title, @description

= render "address_search_preamble"

%form.address-search.formtastic.one-field{'accept-charset' => "UTF-8", 'action' => "/", 'method' => "post"}
  %fieldset.inputs
    %ol
      %li#postcode_input.string{:class => ("error" if @error)}
        = label_tag(:postcode, "Enter a postcode")
        = text_field_tag(:postcode, @postcode, placeholder: "e.g. SW1A 1AA")
        - if @postcode_error
          %p.inline-errors= @postcode_error
  %fieldset.actions
    %ol
      %li.submit= submit_tag "Search", :name => nil, :class => "button button-rounded button-large button-action"

%form.address-search.formtastic.one-field{'accept-charset' => "UTF-8", 'action' => "/", 'method' => "post"}
  %fieldset.inputs
    %ol
      %li#address_input.string{:class => ("error" if @error)}
        = label_tag(:address, "Enter an address")
        = text_field_tag(:address, @address, placeholder: "e.g. 2 High Street, Winchester")
        = link_to "#", class: "inline-hints", id: "geolocate" do
          &hellip; or locate me automatically
        - if @address_error
          %p.inline-errors= @address_error
  %fieldset.actions
    %ol
      %li.submit= submit_tag "Search", :name => nil, :class => "button button-rounded button-large button-action"

- if @applications
  = paginated_section @applications, :previous_label => "« Newer", :next_label => "Older »" do
    = render "applications", :applications => @applications
