= content_for :page_title do
  - if params[:location]
    Search results for "#{params[:search]}" around #{params[:location]}
  - else
    Search results for "#{params[:search]}"


= content_for :extra_javascript do
  -# This has to be present in either view and come before the other js that
  -# might be loaded if we're showing results, hence it comes at the top
  %script
    PlanningAlerts['search'] = {};
    - if @applications_json
      PlanningAlerts.search['applications'] = #{raw @applications_json};
    - else
      PlanningAlerts.search['applications'] = [];
    - if @search and @search.is_location_search?
      PlanningAlerts.search['lat'] = #{@search.lat};
      PlanningAlerts.search['lng'] = #{@search.lng};
    PlanningAlerts.search['categories'] = #{raw @categories_json};

= content_for :extra_javascript, javascript_include_tag("hampshire.search_box")

- if @show_results
  = content_for :extra_body_classes, "search-results"

  #searchbar
    = render "search_widget"

  #results.container
    #sidebar
      %h2 Found <strong>XX</strong> matching planning applications
      %p
        Show results
        - if @display == "map"
          = link_to 'as a list', params.merge({:display => 'list'}), :class => 'results-display-link'
        - elsif @map_display_possible
          = link_to 'on a map', params.merge({:display => 'map'}), :class => 'results-display-link'
      #sidebar-stats
        %p (sidebar stats will go here)
      %p
        See more statistics for
        = link_to 'Some Lovely Council', '#', :class => 'parent-council-link'

    #list{:class => 'results-display'}
      - if @applications
        = paginated_section @applications, :previous_label => "« Newer", :next_label => "Older »" do
          = render "applications", :applications => @applications

  - if @display == "map"
    #map{:class => 'results-display'}
      %p Sorry, there would be a map here, but you need to have javascript enabled to view it.

    = render "search_debug"

  = content_for :extra_javascript do
    = render "js_marker_template"
  = content_for :extra_javascript, javascript_include_tag("hampshire.map_styles")
  = content_for :extra_javascript, javascript_include_tag("hampshire.search_map")
- else
  = content_for :extra_body_classes, "initial-search"
  = render "initial_search_form"
