%h3= "Search"

#sidebar
  - if @display == "map"
    = link_to 'List view', params.merge({:display => 'list'}), :class => 'results-display-link'
  - elsif @map_display_possible
    = link_to 'Map view', params.merge({:display => 'map'}), :class => 'results-display-link'

#list{:class => 'results-display'}
  - if @applications
    = paginated_section @applications, :previous_label => "« Newer", :next_label => "Older »" do
      = render "applications", :applications => @applications

- if @display == "map"
  #map{:class => 'results-display'}
    %p Sorry, there would be a map here, but you need to have javascript enabled to view it.

- if params[:postcode] or params[:address]
  %h4 Original geosearch

  %p
    -if params[:postcode]
      Postcode:
      =CGI::unescape(params[:postcode])

    -if params[:address]
      Address:
      =CGI::unescape(params[:address])

  %h4 Co-ordinates

  %p
    ="#{@lat}, #{@lng}"

  %h4 Authorities

  %p
    = @authorities

%h4 Search

%p
  - if @applications.blank?
    None
  - else
    = @search
    %h4 Facets
    %p
      = @applications.facets

    ="Showing #{(@applications.current_page-1)*@applications.per_page+1} to "
    - if @applications.current_page*@applications.per_page <= @applications.total_entries
      =@applications.current_page*@applications.per_page
    - else
      =@applications.total_entries
    of
    =@applications.total_entries
    results

= content_for :extra_javascript do
  %script
    var applications = #{raw @applications_json};
= content_for :extra_javascript, javascript_include_tag("hampshire.maps")
