%h3= "Search"
#map

- if params[:postcode] or params[:address]
  %h4 Original geosearch

  %p
    -if params[:postcode]
      Postcode:
      =CGI::unescape(params[:postcode])

    -if params[:address]
      Address:
      =CGI::unescape(params[:address])

%h4 Co-ordinates

%p
  ="#{@lat}, #{@lng}"

%h4 Authorities

%p
  = @authorities

%h4 Search

%p
  - if @search.blank?
    None
  - else
    = @search

= content_for :extra_javascript, javascript_include_tag("hampshire.maps")

