- content_for :page_title, "Browse planning applications by authority"
%h2.section-header= yield :page_title

%table.authorities
  - @authorities.each do |authority|
    %tr
      %td.name
        = link_to authority.full_name, authority_url(authority.short_name_encoded)
      %td.total_applications
        - if authority.stats.overview and authority.stats.overview.total
          = link_to pluralize(authority.stats.overview.total, 'application'), authority_url(authority.short_name_encoded)
      %td.percent_approved
        - if authority.stats.overview and authority.stats.overview.percentage_approved
          = link_to "#{authority.stats.overview.percentage_approved}% approved", authority_url(authority.short_name_encoded)
