- content_for :page_title, "Planning authorities currently covered by the service"
%h3= yield :page_title

- @authorities.each do |state, authorities|
  %h4{:id => state.downcase}= state
  %ul.authorities
    - authorities.each do |authority|
      %li
        %span.name
        = link_to authority.full_name, authority_url(authority.short_name_encoded)
        %span.total_applications
          =Application.where(:authority_id => authority.id).count
          applications
        %span.percent_approved
          ="#{(Application.where(:authority_id => authority.id, :status => "Approved").count.to_f / Application.where(:authority_id => authority.id).count.to_f * 100).round}% approved"
        %span.percent_delayed
          ="#{(Application.where(:authority_id => authority.id, :delayed => true).count.to_f / Application.where(:authority_id => authority.id).count.to_f * 100).round}% delayed"

