- content_for :page_title, @authority.full_name

#searchbar

#results.container
  #sidebar
    #sidebar-stats

  #list{:class => 'results-display'}
    %h3= yield :page_title

    - if @applications.count == 0
      %p
        No applications for #{@authority.full_name} have yet been collected.
    - else
      %p
        For #{@authority.full_name} #{@authority.applications.where("date_received >= ?", 1.week.ago).count} applications were received in the last week, #{@authority.applications.where("date_received >= ?", 1.month.ago).count} in the last month and #{@authority.applications.count} since #{@authority.earliest_date.strftime("%-d %b %Y")}, when this authority was first added to PlanningAlerts. That's a
        = link_to "median", "http://en.wikipedia.org/wiki/Median"
        of #{@authority.median_applications_received_per_week} applications per week (ignoring weeks without any applications at all).

      = paginated_section @applications, :previous_label => "« Newer", :next_label => "Older »" do
        = render "applications/applications", :applications => @applications