- content_for :page_title, @authority.full_name
= content_for :extra_body_classes, "search-results"

#searchbar
  %form.container
    %fieldset
      Showing all applications for #{@authority.full_name}

#results.container
  #sidebar
    %h2
      Showing all #{@applications.total_entries} planning applications made
      to #{@authority.full_name}.
    #sidebar-stats
      %p.approved
        %span.status Approved
        %span.visualisation
          %span.bar{:style => "width: 100%"} XX%
      %p.rejected
        %span.status Rejected
        %span.visualisation
          %span.bar{:style => "width: 100%"} XX%
      %p.pending
        %span.status In progress
        %span.visualisation
          %span.bar{:style => "width: 100%"} XX%

    %p
      #{@authority.full_name} receives on average <strong>XX</strong> applications per week.

    %p
      <strong>XX%</strong> of applications were decided on or before their target decision date.

  #list{:class => 'results-display'}
    - if @applications.count == 0
      %p
        No applications for #{@authority.full_name} have yet been collected.
    - else
      = paginated_section @applications, :previous_label => "« Newer", :next_label => "Older »", :inner_window => 1 do
        = render "applications/applications", :applications => @applications